p {
    color: bisque;
    background-color: black;

}

h1{
    text-decoration: underline ;
    text-align: center ;
    background-color:rgb(177, 69, 69)
}
h3{
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(29, 29, 82);
}

img{
    width: 300px;
}

a{
    color: rgb(255, 198, 198);
}

content {
    width: 800px;
    border: black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}